{% extends 'flatpages/default.html'%}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Все новости
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h5>Всего статей: {{posts|length}}</h5>
<nav style="font-size:20px"><strong><a href="{% url 'search' %}" style="color:#2F4F4F; text-decoration:none">Поиск</a></strong></nav>

{% if posts %}
    <table>
        <tr>
            <th width="400">Заголовок</th>
            <th width="150">Дата публикации</th>
            <th width="800">Preview</th>
        </tr>
        {% for post in posts %}
        <tr class="table-group-divider">
            <td><strong><a style="color:#2F4F4F; text-decoration:none" href="{% url 'post_detail' post.pk %}">{{post.heading|censor}}</a></strong></td>
            <td>{{post.created|date:'d M Y'}}</td>
            <td>{{post.text|censor|truncatewords:20}}</td>
        </tr>
        {% endfor %}
    </table>
{%else%}
    <h2>Статей нет!</h2>
{% endif %}

{% include 'includes/page_by_page.html' %}

{% endblock content %}