{% extends 'flatpages/default.html'%}

{% load custom_filters %}

{% block title %}
Все новости
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<h5>Всего статей: {{posts|length}}</h5>
<hr>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти">
</form>
{% if posts %}
    <table>
        <tr>
            <th width="400">Заголовок</th>
            <th width="150">Дата публикации</th>
            <th width="800">Preview</th>
        </tr>
        {% for post in posts %}
        <tr class="table-group-divider">
            <td>{{post.heading|censor}}</td>
            <td>{{post.created|date:'d M Y'}}</td>
            <td>{{post.text|censor|truncatewords:20}}</td>
        </tr>
        {% endfor %}
    </table>
{%else%}
    <h2>Статей нет!</h2>
{% endif %}
{% if page_obj.has_previous %}
    <a href="?page=1">1</a>
    {% if page_obj.previous_page_number != 1 %}
        ...<a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}
{% endif %}
{{ page_obj.number }}
{% if page_object.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
        ...<a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}
{% endif %}
{% endblock content %}